<form id="form">
  <fieldset class="form-group">
    <label for="function_title">Title</label>
    <input type="text" class="form-control" id="function_title" placeholder="Title(Optional)">
  </fieldset>
  <fieldset class="form-group">
    <label for="function_path">Path</label>
    <div class="input-group">
      <span class="input-group-addon" data-content-prepend="host"></span>
      <input type="text" class="form-control" id="function_path" placeholder="Path(Required)">
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label for="function_code">Code</label>
    <textarea class="form-control" id="function_code" rows="5" placeholder="# Will be treated like statements in an action of a Controller.
# conn :: SolomonLib.Conn is available as an argument, which should be used to produce response.
SolomonLib.Controller.Json.json(conn, 200, %{result: :ok})"></textarea>
  </fieldset>
  <div class="btn btn-default" onclick="showList()">Cancel</div>
  <div class="btn btn-primary" onclick="postFunc()">Submit Function</div>
  <div class="text-muted text-danger" id="error"></div>
</form>
